.root{
	margin: 0;
	height: 100vh;
	background: #FFF;
	display: flex;
	flex-direction: column;
}

#breath-btn {
    display: flex;
    justify-content: center;
	position:relative;
	bottom:40px;
}

#breath-btn::before,
#breath-btn::after {
    content: '';
    border: 2px solid #4CB5FA;
    width: 100px;
    height: 100px;
    position: absolute;
    opacity: 0;
    border-radius: 50%;
}

@keyframes Wave {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}
#breath-btn::before {
    animation: Wave 1.5s ease-in-out infinite;
}

#breath-btn::after {
    animation: Wave 1.5s ease-in-out 0.8s infinite;
}

.white-border{
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

#inner {
    animation: OpacityBreath 2s ease-in-out infinite;
    opacity: 0.3;
}

@keyframes OpacityBreath {
  0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

#upload-btn-block{
	display: flex;
}

.priview-title{
	text-align: center;
	color: #ffffff;
	font-size: 50rpx;
	padding-top: 10%;
}

.dividing-line{
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 1px;
	background-color: #d4d4d4;
	text-align: center;
	font-size: 16px;
	color: rgba(101, 101, 101, 1);
}

.card-actions{
	display: flex;
	display: box;
	text-align: center;
	float: right;
}

.card-actions button{
	display: inline-block;
	height: 75rpx;
	margin: 10rpx;
}

.card-actions text{
	line-height: 75rpx;
}

.container{
	max-height: 50vh;
}

.resultImage{
	z-index: 9;
}

.result-list-block{
	max-height: 30vh;
	margin-bottom: 0;
}

.result-list{
	z-index: 10;
}


.main-container {
	background-color: white;
	display: flex;
	justify-content: center;
	transition:height 1s;
	width:100%;
	z-index:1;
	flex-grow: 1;
}

.main-container::before {
	content:'';
	width:110%;
	height:120px;
	position:absolute;
	border-radius: 50% 50% 0 0;
	background-color: white;
	top:-119px;
	z-index: 0;
}

.header {
	flex-shrink: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top:40%;
	height:100%;
    background-image: linear-gradient(
        rgba(107, 151, 226, 0.7),
        rgba(142, 209, 252, 0.5),
        rgba(142, 209, 252, 0)
    );
	
}

.bg-img {
	width:100%;
	height:auto;
	display: relative;
	bottom:20px;
}

.button-container {
	display: flex;
	justify-content: space-around;
	margin-top:10vh;
}

.single-btn, .multi-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	height:100px;
	width:100px;
	padding:10px;
	background-image: radial-gradient(
		rgba(140, 219, 252, 0.3),
		rgba(142, 209, 252, 0.5),
	    rgba(107, 151, 226, 0.7),
	);
	text {
		font-size:1.5rem;
		color:white;
	}
}

.list-item-icon {
    font-size: 24rpx;
    border-radius: 10rpx;
    border-style: solid;
    border-width: 1rpx;
    padding: 0.3rem;
    display: flex;
    align-items: center;
}

.reupload-btn-container {
	display: flex;
	justify-content: center;
}

.reupload-btn {
	border-radius: 6px;
	image {
		width:36px;
		height:36px;
	}
}

.header-caption {
	display: flex;
	flex-direction: column;
	align-items: center;
	text {
		display: block;
		color:#fff;
	}
}

.dropdown-btn-container {
	display: flex;
	justify-content: center;
	position:absolute;
	top:-100px;
	image {
		width:36px;
		height:36px;
	}
}