/**
  * @description:用于 userPage 界面的主要样式文件
  * @author Lisn
  * @date 2022/4/2
*/

view {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    height: 15vh;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    image {
        width: 36px;
        height: 36px;
    }
    text {
        font-size: 1.2rem;
        margin-left: 1rem;
    }
}

.user-root {
    width: 100%;
    height: 100%;
    .flex-column();
}

.user-header {
    min-height: 30%;
    background-image: linear-gradient(
        rgba(107, 151, 226, 0.7),
        rgba(142, 209, 252, 0.7),
        rgba(142, 209, 252, 0)
    );
    justify-content: center;
    .flex-column();
}

.avatar-container {
    justify-content: center;
    .flex-column();
}

.avatar {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #fff;
}

.user-name-container {
    justify-content: center;
    .flex-column();
}

.user-name {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.user-body {
    .flex-column();
}

.cards-container {
    width: 90%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.member-card-container {
    display: flex;
    justify-content: center;
    height: 140px;
    width: 100%;
}

.member-card {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-image: url('../../static/image/member-card-bg.png');
    background-repeat: no-repeat;
    background-size: 105% 110%;
    background-color: #b0dffd;
    border-radius: 15px;
    text {
        text-align: center;
        margin: auto;
        font-size: 1.5rem;
    }
}
