/**
  * @description:用于 userPage 界面的主要样式文件
  * @author Lisn
  * @date 2022/4/2
*/

.user-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
