/**
  * @description:用于 userPage 界面的主要样式文件
  * @author Lisn
  * @date 2022/4/2
*/

view {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-20 {
    position: relative;
    top: 20px;
}

.card {
    height: 10vh;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    image {
        width: 30px;
        height: 30px;
        padding: 12px;
        border-radius: 6px;
    }
    text {
        font-size: 1.1rem;
        margin-left: 0.5rem;
    }
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.user-root {
    width: 100%;
    height: 100%;
    .flex-column();
}

.user-header {
    min-height: 30%;
    background-image: linear-gradient(
        rgba(107, 151, 226, 0.7),
        rgba(142, 209, 252, 0.7),
        rgba(142, 209, 252, 0)
    );
    justify-content: center;
    .flex-column();
}

.avatar-container {
    justify-content: center;
    .flex-column();
    .top-20();
}

.avatar {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #fff;
}

.user-name-container {
    .flex-column();
	align-items: flex-start;
}

.user-name {
    font-size: 1.8rem;
	color:#FFF;
    margin-top: 1rem;
	font-weight: 700;
	margin-left: 5%;
	text {
		font-size: 1.3rem;
		color:#FFF;
	}
}

.user-body {
    margin-top: -5%;
    .flex-column();
}

.cards-container {
    width: 90%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.member-card-container {
    display: flex;
    justify-content: center;
    height: 140px;
    width: 100%;
}

.member-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-image: url('../../static/image/member-card-bg.png');
    background-repeat: no-repeat;
    background-size: 105% 110%;
    background-color: #b0dffd;
    border-radius: 15px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.chart-container {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.chart {
    height: 90%;
    width: 80%;
}

.chart-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    text {
        font-size: 0.9rem;
    }
}

.main-line {
    display: flex;
    justify-content: space-evenly;
    text {
        text-align: center;
        margin: auto;
        font-size: 1.5rem;
    }
}

.sub-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    text {
        font-size: 0.9rem;
        margin: auto;
        text-align: center;
        color: #596666;
    }
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    image {
        width: 50%;
        height: 50%;
    }
    text {
        position: relative;
        right: 2.5vw;
        font-size: 0.9rem;
        color: gray;
    }
}
