<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flatangle.rubbishsearch.mapper.ClassificationDescMapper">

    <select id="findTargetDesc" resultType="com.flatangle.rubbishsearch.entity.ClassificationDesc" parameterType="String">
        SELECT cd.* FROM (classification_desc AS cd)
        LEFT OUTER JOIN city AS c ON c.cityID = cd.cityID
        WHERE c.city_name = #{targetCity}
    </select>

</mapper>